body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  text-align: center;
  margin-top: 0px;
  opacity: 0.9;
}

a {
  display: inline-block;
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  margin-right: 20px;
}

header {
  display: flex;
  position: fixed;
  top: 0px;
  height: 69px;
  border-bottom: 1px solid seashell;
  justify-content: space-between;
  width: 100%;
  background-color: black;
  z-index: 5;
  align-items: center;
}

header img {
  display: inline-block;
  height: 50px;
  margin-left: 10px;
}

main {
  position: relative;
  top: 69px;
  z-index: 1;
}
